.card-consultoria {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.card-consultoria-texto {
    background-color: rgba(0,0,0,0.6);
}
.card-consultoria-list ul {
    list-style: none;
    margin: auto;
    padding: 0;
}

.card-consultoria-list ul li {
    text-align: center;
    font-weight: 600;
}
