@media only screen and (min-width: 576px) and (max-width: 900px) {
    .footer-item {
        display: -webkit-inline-box;
    }
}
@media only screen and (max-width: 575px) {
    .footer-container {
        display: list-item;
    }
    .footer-item {
        text-align: right;
    }
}
@media only screen and (min-width: 575px) {
    .footer-container {
        display: flex;
    }
}