.background-home {
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
}
@media only screen and (max-width: 542px) {
    .background-home {
        background-size: cover;
    }
}