@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #131313;
    color: #d3d3d3;
}
.footer {
    background-color: $black;
}
a.link {
    text-decoration: none;
    color: inherit;
}
a.link:hover {
    color: $yellow;
}
h1,
h2,
h3 {
    text-transform: uppercase;
    text-align: center;
}
h1 {
    font-size: 3em;
    font-family: 'Racing Sans One', cursive;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0px 0px 20px rgb(0 0 0 / 70%);
    line-break: strict;
}
h3 {
    font-size: 1em;
}
h2,
h3 {
    color: $yellow;
    font-family: 'Helvetica', Sans-serif;
    font-weight: 500;
    font-style: oblique;
    letter-spacing: 0.3px;
    line-break: strict;
}
.hr {
    opacity: 1 !important;
    color: $yellow;
    height: 30px !important;
}

p {
    text-align: justify;
    margin-bottom: 0.9rem;
    color: $gray-100;
    font-weight: 300;
    line-height: 1.8em;
    letter-spacing: 0.02rem;
}
p.apresentacao {
    margin-top: 1em;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: $white;
    font-style: italic;
}

.react-multiple-carousel__arrow--left::before {
    content: '<' !important;
    font-weight: 900;
}
.react-multiple-carousel__arrow--right::before {
    content: '>' !important;
    font-weight: 900;
}

.ratio-9x16 {
    --bs-aspect-ratio: calc(16 / 9 * 100%);
}
