@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #131313;
    color: $light;
    font-family: $font-family;
}
.footer {
    background-color: $black;
}
a:link {
    text-decoration: none;
    color: inherit;
    transition: .3s;
}
a:hover {
    color: $yellow;
    transition: .3s;
}

a:link svg {
    transition: .3s;
    fill: $white;
}

a:hover svg {
    transition: .3s;
    fill: $red;
}
h1,
h2,
h3 {
    text-transform: uppercase;
    text-align: center;
}
h1 {
    font-family: 'Saira', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-shadow: 0px 0px 20px rgb(0 0 0 / 70%);
    line-break: strict;
}
h3 {
    font-size: 1em;
}
h2,
h3 {
    color: #e6452a;
    font-family: 'Saira', sans-serif;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-break: strict;
}

p {
    text-align: justify;
    margin-bottom: 0.9rem;
    color: $gray-100;
    font-weight: 300;
    line-height: 1.8em;
    letter-spacing: 0.02rem;
}
p.apresentacao {
    margin-top: 1em;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: $white;
    font-style: italic;
}

.react-multiple-carousel__arrow--left::before {
    content: '<' !important;
    font-weight: 900;
}
.react-multiple-carousel__arrow--right::before {
    content: '>' !important;
    font-weight: 900;
}
.react-multiple-carousel__arrow {
    border-width: 5px !important;
    border-color: #dc3545 !important;
    border-style: inset !important;
    z-index: 1 !important;
}

.insta-post {
    border-radius: 8px;
    object-fit: cover;
}

.bottom-slider .react-multiple-carousel__arrow {
    bottom: 84px;
}

.ratio-9x16 {
    --bs-aspect-ratio: calc(16 / 9 * 100%);
}

.pt-extra {
    padding-top: 80px;
}

.text-red {color: $red;}

.text-uppercase {text-transform: uppercase;}

.bg-male {background-color: $male;}

.bg-female {background-color: $female;}

.bg-consult {background-color: $green;}

.bg-black-fade {background-color: rgba(0,0,0,0.7);}

.btn-buy {
    color: $light;
    box-shadow: 0px 0px 21px -9px $primary;
}
.btn-buy:hover {
    box-shadow: 0 0 0 0 $primary;
    transform: scale(1);
    color: $light;
    animation: pulse 1s infinite;
}

.btn-buy-course {
    background-color: $primary;
    font-size: 18px;
}

.btn-sticky {
    display: inline-table;
    bottom: 1.5em;
    right: 1.5em;
    position: fixed;
    z-index: 2;
}

@media only screen and (min-width: 511px) {
    .footer-item {
        text-align: center;
    }
}

.mh-80 { max-height: 80vh; }

.mh-full { max-height: 100vh; }

.border-male {border-color: $male !important;}

.border-female {border-color: $female !important;}

.border-consult {border-color: $consult !important;}

.border-3 {
    border-style: 'solid';
    border-width: 3px;
}

.card-planos {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.card-consultoria-list ul {
    list-style: none;
    margin: auto;
    padding: 0;
}

.card-consultoria-list ul li {
    text-align: center;
    font-weight: 500;
}

.bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-position { z-index: 2; }

.menu-position > * {
    text-transform: uppercase;
    font-weight: 600;
}

@media only screen and (min-width: 768px) {
    .nav-right { justify-content: center; }
}

.scroll-emphasis {
    background:
        radial-gradient(circle closest-side, currentColor 80%, transparent) bottom var(--p1, -8px) left 50% /100% var(--p, 12px) no-repeat,
        linear-gradient(red 0 0) bottom 4px left 50%/var(--d, 0%) 3px no-repeat;
    transition: 0.5s;
}
.scroll-emphasis:hover {
    --d: 100%;
    --p: 3px;
    --p1: 4px;
}

.fw-500 {
    font-weight: 500;
}

.color-primary {
    color: $primary;
}

.nav-link:hover {
    background-color: rgba(230, 69, 42, 0.7);
    color: rgba(255,255,255,1) !important;
}

.place-content-center {
    place-content: center;
}